<!--<div *ngFor="let alert of alertsService.alerts">-->
<!--&lt;!&ndash;  <ngb-alert type="{{alert.type}}" (close)="close(alert)">&ndash;&gt;-->
<!--&lt;!&ndash;    {{alert.message}}&ndash;&gt;-->
<!--&lt;!&ndash;    <pre *ngIf="alert.debug" class="alert-pre border bg-light p-2 mt-2"><code>{{alert.debug}}</code></pre>&ndash;&gt;-->
<!--&lt;!&ndash;  </ngb-alert>&ndash;&gt;-->
<!--&lt;!&ndash;</div><div *ngFor="let alert of alertsService.alerts">&ndash;&gt;-->
<!--&lt;!&ndash;  <ngb-alert type="{{alert.type}}" (close)="close(alert)">&ndash;&gt;-->
<!--&lt;!&ndash;    {{alert.message}}&ndash;&gt;-->
<!--&lt;!&ndash;    <pre *ngIf="alert.debug" class="alert-pre border bg-light p-2 mt-2"><code>{{alert.debug}}</code></pre>&ndash;&gt;-->
<!--&lt;!&ndash;  </ngb-alert>&ndash;&gt;-->

<!--  <button mat-raised-button (click)="openDialog()">Open dialog without animation</button>-->
<!--</div>-->
