<div *ngIf="!loginDisplay">
    <p class="welcome">Welcome to the MSAL.js v2 Angular Quickstart!</p>
    <p>This sample demonstrates how to configure MSAL Angular to login, logout, protect a route, and acquire an access token for a protected resource such as the Microsoft Graph.</p>
    <p>Please sign-in to see your profile information.</p>
</div>

<div class="welcome" *ngIf="loginDisplay">
    <p>Welcome to my connector</p>
    <p>Hope you have a good experience</p>
    <span>By using Microsoft Graph API to retrieve data and services from Microsoft 365, the Canadian Tire Retail family can provide a more seamless and efficient experience for customers. For example:
    Customers can view their shopping history and preferences, such as preferred stores and interests, which allows the Canadian Tire Retail family to provide personalized recommendations and offers.
    Store staff can access customer information, such as past purchases and preferences, to provide better customer service and tailored recommendations.
    Customers can schedule appointments with store staff or customer support, which saves time and improves the overall customer experience.
    Store staff can schedule and manage appointments more efficiently, which can help reduce wait times and increase customer satisfaction.By integrating Microsoft Graph API and providing a more connected and personalized experience for customers, the Canadian Tire Retail family can differentiate themselves from competitors and build stronger relationships with their customers.</span>

    <p>Login successful!</p>
    <p>Request your profile information by clicking Profile above.</p>
</div>
