<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [href]="['/home']">{{ title }}</a>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <a mat-button [routerLink]="['/profile']">Profile</a>

    <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
    <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/users']">Users</button>
      <button mat-menu-item [routerLink]="['/users/calendar']">Calendar</button>
      <button mat-menu-item [routerLink]="['/users/dashboard']">Dashboard</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
